@CHARSET "UTF-8";

@import url(http://fonts.googleapis.com/css?family=Noto+Sans&subset=latin,latin-ext);

body {
	font-family: 'Noto Sans', sans-serif;
	background-color: #f2f2f2;
}

#widget-container {
	
	border: solid 1px;
	margin-left: 200px;
	margin-top: 200px;
}

.widget {
	width: 300px;
	position: absolute;
	border: 1px solid #c8c8c8;
	margin: 0;
	padding: 0;
	border-radius: 4px;
	background-color: #fff;
	box-shadow: 0 2px 3px rgba(0,0,0,0.16);
}

.to-process {
	display: none;
}

.widget section {
	margin: 1em;
}

.widget section div {
	line-height: 125%;	
}